/* montserrat-300 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v24-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v24-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v24-latin_cyrillic-300.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v24-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v24-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-500 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v24-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v24-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v24-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v24-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

body {
    font-family: 'Montserrat';
    background-color: #EBE8E7;

}
.parallax {
  background-image: url("../img/bg.png");
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
    position: relative;
    z-index: 10;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 88px;
    border-bottom: 1px solid #000;
    margin: 0 0 130px;
}
.container {
    padding: 25px 88px;
}
.language {
    display: flex;
}
.btn__lang {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-left: 2px solid #000;
    padding: 0 0 0 8px;
    margin: 0 0 0 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
.btn__lang:first-child {
    border: 0;
}
.btn__lang:hover {
    color: #5C5C5C;
}
.big__title {
    font-weight: 300;
    font-size: 57px;
    line-height: 1.2;
    margin: 0 0 91px;
}
.content {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
}
.main {
    flex: 0 1 586px;
    margin: 0 88px 0 0;
}
.title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    margin: 0 0 20px;
}
.main__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 60px;
}
.text__paragraph:not(:last-child) {
    margin: 0 0 1em;
}
.form {
    flex: 0 0 508px;
    max-width: 508px;
}
.form__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
}
.form__title:last-of-type {
    margin: 0 0 40px;
}
.choose {
    width: 100%;
    margin: 0 0 32px;
    border-bottom: 1px solid #000;
    display: flex;
}
.choose-holder {
    flex-grow: 1;
    position: relative;
}
.choose-holder .btn__choose {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    padding: 0 33px;
    cursor: pointer;
    display: block;
    text-align: center;
}
.choose-holder .btn__choose:after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: #000;
    display: none;
}
.choose-holder .choose-radio {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.choose-holder .choose-radio:checked ~ .btn__choose {
    font-size: 18px;
}
.choose-holder .btn__choose:hover {
    color: #5C5C5C;
}
.choose-holder .choose-radio:checked ~ .btn__choose:after {
    display: block;
}

.btn__send {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #EEEAE9;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 12px 103px;
    border: none;
    font-family: 'Montserrat';

}
.input__data {
    margin: 0 0 40px;}
.data__item {
    display: block;
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
}
.data__item::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    font-family: 'Montserrat' !important;
}
.data__item:not(:last-child) {
    margin: 0 0 24px;
}
.footer__contacts {
    margin: 0 0 40px;
}
.contacts__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin: 0 0 12px;
}
.contacts__box {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
}
.contact__item {
    color: #000;
    text-decoration: none;
    display: block;
}
.social {
    display: flex;
}
.social__link {
    margin: 0 38px 0 0;
}
.social__link img{
    display: block;
}
@media only screen
and (max-width: 1200px) {
  .content {
    display: block;
  }

}
@media only screen
and (max-width: 768px) {
    .parallax {
        display: none;
    }
    .header,
    .container {
        padding: 25px 20px;
    }
    .form {
        max-width: unset;
    }
    .choose-holder .btn__choose,
    .choose-holder .choose-radio:checked ~ .btn__choose {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 4px;
    }
    .btn__send {
        width: 100%;
    }
}
